.header-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.react-logo {
  height: 3rem;
  animation: logo-spin infinite 20s linear;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.react-logo {
  height: 3rem;
  animation: logo-spin infinite 20s linear;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  color: #0066cc;
  margin: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}